<div >

    <article class="user">
        <img  src="{{imgPath}}" alt="Card image cap">
        <div class="user-body">
            <h2 class="user-title"> <a href="/artist/detail/{{this._id}}">{{username}}</a> </h2>
            <p class="user-text">{{description}}</p>
            
        </div>
    </article>

</div>