

/* layout   */

.navigation {
    z-index: 10;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: white;

}
#separator { 
    margin: 0;
}
#login { 
    margin: 0;
}
#signup { 
    margin: 0;
}
.navigation nav {
    margin-top: 25px;
    margin-right: 8vw;
}
.navigation a {
    color: black;
    text-decoration: none;
}
.logo{
    margin-top: 17px;
    margin-left: 7vw;
    margin-bottom: 14px;
    text-transform: uppercase;
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 2.1em;
    text-decoration: none;
    color: rgb(19, 18, 18);
}
.navigation ul{
    display: inline-block;
    width: 2000px;
}
.navigation li {
    display: inline-block;
    margin: 0 15px;
}
.navigation li input{
    width: 250px;
    margin-left: 200px;
 
}
.navigation li a {
    text-decoration: none;
    color: rgb(19, 18, 18);
    font-weight: bold;
    display: inline;
    font-family: 'Montserrat';
    font-size: 0.98em;
}
.content {
    padding-top: 0px;
    margin-left: 4vw;
    margin-right: 4vw;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}
.footer ul{
    width:2000px;
}
.footer li {
    display: inline-block;
    margin: 0 38px;
}
.footer li a {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: rgb(19, 18, 18);
    display: block;
    
}
#footer-hr {
    width: 92vw;
    display: block;
    margin-left: 4vw;
}
.footlogo{
    font-family: 'Righteous';
    font-size: 1em;
}
.footer img{
    width: 25px;
}
/*----HERO----*/
.hero{
    margin-left: 1em;
    width: 90vw;
    height: 470px;
    background-image: url('/images/picasso-hero.jpg');
}
/*----Seleccion----*/
.selection {
    width:200px;
}
.selection img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.inicio{
   margin: 5px 30px;
   font-family: 'Montserrat'
}
.inicio h2{
  font-size: 1em;
  text-align: center;
}
.center{
    margin-left: 4%;
}
.inicio h1{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 18px;
    font-weight: lighter;
    font-size: 2em;
}
.center a{
    text-decoration: none;
    color: rgb(19, 18, 18);
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.9em;    
}
/*----artists list----*/
.hero-section {
    align-items: center;
    padding-top: 80px;
  
}
.hero-section hr {
    width:1235px;
   
}
.hero-section h2 {
    margin-top: 0;
    margin-left:45px;
}
.contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.param-list{
    margin-left: 50px;
    margin-top: 40px;
}
.section-title {

   font-family: 'Times New Roman', Times, serif;
   font-weight: 300;
}
.artist-list {
    margin-top:0px;
    margin-bottom :70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 1000px;
}
.artist-list img {
    width:250px;
    height:250px;
    object-fit: cover;
}
.user-info {
    justify-content: start;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    width: 330px;
    height: 308px;
    
}
.descripion-info {
    font-size: 0.7em;
    color: grey;
    height: 20px;
    text-align: center;
    width: 300px;
}

.galleries-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    width: 800px;
}

.user {
    margin: 8px;
    width: 300px
}
.user img {
    width: 300px;
    object-fit: cover;
}

/*----artists description----*/

.artist-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 30px, 0, 30px, 0;
}

.artist-description img {
    height: 450px;
}

.artist-description-art{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.artist-description-art img {
    width: 250px;
    margin: 30px;
}
.profile-picture{
    width: 11px;
    
}

.name-link a{
    color:black;
    text-decoration: none;
}

/*---------- login -----------*/


.form-container{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height : 700px;
    height : 90vh;
    margin-bottom: 30px;
   
}
.form-container-login{
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height : 700px;
    height : 90vh;
    margin-bottom: 30px;
   
}
.form-container-login .form form input {
    margin-top: 10px;
    margin-bottom: 10px;
}
.form {
    padding:30px;
    border: 1px solid rgb(199, 199, 199);
}

.form a {
    display: block;
    padding-top: 30px;

}
.form h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500
}
button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* show a hand cursor on hover; some argue that we
    should keep the default arrow cursor for buttons */
    cursor: pointer;
   margin-top: 18px;
   display: block;
}

.form label{
  display: block;
}

.input {
    margin-top: 20px;
}
.input select{
    width: 180px;
}


<<<<<<< HEAD
#map{
    
    width: 60vw;
    height: 500px;
}
=======
/*---------- User private -----------*/
.container-private {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;

}
.private-pic {
    margin-top:80px;
}
.private-pic img{
    
    display: block;
    margin-top: 50px;
    height: 600px;
    width: 600px;
    object-fit: cover;
}
.private-form  {
    margin-top:122px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: block;
    padding:20px 30px 0px 30px;
    border: 1px solid rgb(199, 199, 199);
    height: 609px;
}
.private-form form input  {
    display: block;
    border:1px solid grey;
    width:300px;
    margin-bottom:6px;
}
.private-form form label  {
    display: block;
}
.private-form h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500
}
.private-form a {
    display: block;
    padding-top: 30px;

}
.user-gallery {
    margin-top:50px;
    display: flex;
    justify-content: space-between; 
}
.user-gallery img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}
.user-gallery-card {
    display: flex;
    flex-direction: column-reverse;
    width:300px;
    justify-content: flex-end; 

}

>>>>>>> a003c8dd09459ccbe90db02597dd7a47e523ac2e
