.navigation {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    position: fixed;
    width: 100%;
    padding: 20px 30px;
    background-color: white;
}
.logo{
   
    margin-left: 4vw;
    margin-right: 4vw;
    text-transform: uppercase;
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 2.5em;
    text-decoration: none;
    color: rgb(19, 18, 18);

}
.navigation ul{
    display: inline-block;
}
.navigation li {
    display: inline-block;
    margin: 0 40px;
}
.navigation li a {
    text-decoration: none;
    color: rgb(19, 18, 18);
    font-weight: bolder;
    display: inline;
    font-family: 'Montserrat';
    font-size: 1em;
}
.content{
    padding-top: 200px;
    margin-left: 4vw;
    margin-right: 4vw;
}
.footer ul{
    display: inline-block;
}
.footer li {
    display: inline-block;
    margin: 0 60px;
}
.footer li a {
    text-decoration: none;
    color: rgb(19, 18, 18);
    font-weight: bolder;
    display: block;
    
}
.footer hr{
    width: 92vw;
    display: block;
    margin-left: 4vw;
}
.footlogo{
    font-family: 'Righteous';
    font-size: 2em;
}
.footer img{
    width: 25px;
}
/*----HERO----*/
.hero{
    width: 92vw;
    height: 50vh;
    background-image: url('/images/picasso-hero.jpg');
}
/*----Seleccion----*/
.selection img{
    height: 220px;
    width: 220px;
    object-fit: cover;
}
.inicio{
   margin: 5px 30px;
}
.center{
    margin-left: 4%;
}
.inicio h1{
    padding: 2% 0;
    font-weight: lighter;
    font-size: 2em;
}
.center a{
    text-decoration: none;
    color: rgb(19, 18, 18);
    font-weight: 100;
    text-transform: uppercase;
    font-size: 0.9em;    
}
/*----artists list----*/
.section-title {

   font-family: 'Times New Roman', Times, serif;
   font-weight: 300;
}
.artist-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.user {
    margin: 8px;
    width: 300px
}
.user img {
    width: 300px;
    object-fit: cover;
}
/*----artists description----*/

.artist-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px, 0, 10px, 0;
}

.artist-description img {
    width: 600px;
}