<div class="col-md-4">

    <article class="card">
        <img  src="{{imgPath}}" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title"> <a href="/artist/detail/{{this._id}}">{{username}}</a> </h2>
            <p class="card-text">{{description}}</p>
            
        </div>
    </article>

</div>