
<section class="hero">
</section>


<section class="inicio">
    <h1>Busca obras de arte en venta</h1>
    <hr>
   
    <div class="center">
        <div class="row">
            <div class="col">
                <figure class="selection">
                <h2> <a href="/buscador?buscaBenGandul=pintura">Pintura</a></h2>
                    <a href="/buscador?buscaBenGandul=pintura"><img src="/images/hermitage-girl.jpg" alt="pintura-hermitage"></a>
                </figure>
            </div>
            <div class="col">
                <figure class="selection">
                <h2> <a href="/buscador?buscaBenGandul=escultura">Escultura</a></h2>
                    <a href="/buscador?buscaBenGandul=escultura"><img src="/images/Eva_en_mármol_Rodin.jpg" alt="Rodin-eva-en-marmol"></a>
                </figure>
            </div>
            <div class="col">
                <figure class="selection">
                <h2> <a href="/buscador?buscaBenGandul=fotografia">Fotografía</a></h2>
                    <a href="/buscador?buscaBenGandul=fotografia"><img src="/images/annie_leib.jpg" alt="annie"></a>
                </figure>
            </div>
            <div class="col">
                <figure class="selection">
                <h2><a href="/buscador?buscaBenGandul=instalacion">Instalación</a></h2>                
                    <a href="/buscador?buscaBenGandul=instalacion"><img src="/images/instalacion-obra.jpg" alt="instalacion"></a>
                </figure>
            </div>
            <div class="col">
                <figure class="selection">
                <h2><a href="/artworks/list">Todos los medios</a></h2>
                    <a href="/artworks/list"><img src="/images/galeria-inicio.jpg" alt="galeria-de-arte"></a>
                </figure>
            </div>

        </div>

    </div>
</section>