<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700,800|Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

 
   

</head>
<body>
  <header class="navigation">
    <a href="/" class='logo'>Artmad</a>
    
    <nav>
      <ul>
        <li><a href="/galleries/list">GALERIAS</a></li>
        <li><a href="/artist/list">ARTISTAS</a></li>
        <li><a href="/artworks/list">OBRAS</a></li>
        {{!-- <li><a href="/events">CALENDARIO</a></li> --}}
        <li><form action="/buscador" method="get"><input type="search" name="buscaBenGandul" placeholder="Buscar" id="search"></form></li>
        
         {{#if user}}<li id="login"><a href="/private/profile">Perfil</a></li> {{else}}<li id="signin"><a href="/signup">Register</a></li>{{/if}}
        <li id="separator">|</li>
         {{#if user}}<li id="login"><a href="/logout">Logout</a></li>  {{else}} <li id="login"><a href="/login">Login</a></li>{{/if}}
        
      </ul>
    </nav>
  </header>

  
    
    
   

  <main class='content'>
    {{{body}}}
  </main>
  
  <hr id="footer-hr">
  <footer class="footer">
    
    <ul>
      <li>
         <p>©2019 <span class='footlogo'>Artmad</span></p>  
      </li>
      <li> <a href="/about">Sobre Nosotros</a></li>
      <li><a href="/terms">Términos y condiciones</a></li>
      <li><a href="/privacy">Privacidad</a></li>
      <li><a href="/conditions">Condiciones de venta</a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </footer>
    

</body>
</html>





