

<h2 class="section-title">Obras</h2>
<hr>
<div class="contain">

    
    <div class="param-list">
        <h3>Medios</h3>
        <form action="">
        <div>
            <input type="radio" name="medios" id="pintura"> 
            <label for="pintura">Pintura</label>
        </div>
        <div>
            <input type="radio" name="medios" id="escultura"> 
            <label for="escultura">Escultura</label>
        </div>
        <div>
            <input type="radio" name="medios" id="instalacion"> 
            <label for="instalación">Instalación</label>
        </div>
        <div>
            <input type="radio" name="medios" id="collage"> 
            <label for="collage">Collage</label>
        </div>
        <div>
            <input type="radio" name="medios" id="ilustracion"> 
            <label for="ilustracion">Ilustración</label>
        </div>
        <div>
            <input type="radio" name="medios" id="fotografia"> 
            <label for="ilustracion">Fotografía</label>
        </div>

    </div>
    </form>
    <hr>

    <div class="artist-list">  
 

    </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/APIHandler.js"></script>
<script  src="/javascripts/index-artworks.js"></script>
{{!-- Rutas regulares--}}
{{!-- <div>
<h2 class="section-title">Artistas</h2>
<hr>
    <div class="artist-list">
{{#each artist}}
    {{> userCard}}
{{/each}}
</div>
</div> --}}

