{{#if user}}
<a href="/logout">Logout</a>
<a href="/private/profile">Perfil</a>
{{/if}}
<section class="hero">
</section>


<section class="inicio">
    <h1>Busca obras de arte en venta</h1>
    <hr>

    <div class="center">
        <div class="row">
            <div class="col">
                <figure class="selection">
                <h2> <a href="#">Pintura</a></h2>
                    <img src="/images/hermitage-girl.jpg" alt="pintura-hermitage">
                </figure>
            </div>
            <div class="col">
                <figure class="selection">
                <h2> <a href="#">Escultura</a></h2>
                    <img src="/images/Eva_en_mármol_Rodin.jpg" alt="Rodin-eva-en-marmol">
                </figure>
            </div>
            <div class="col">
                <figure class="selection">
                <h2> <a href="#">Fotografía</a></h2>
                    <img src="/images/annie_leib.jpg" alt="annie">
                </figure>
            </div>
            <div class="col">
                <figure class="selection">
                <h2><a href="#">Instalación</a></h2>                
                    <img src="/images/instalacion-obra.jpg" alt="instalacion">
                </figure>
            </div>
            <div class="col">
                <figure class="selection">
                <h2><a href="#">Todos los medios</a></h2>
                    <img src="/images/galeria-inicio.jpg" alt="galeria-de-arte">
                </figure>
            </div>

        </div>

    </div>
</section>