<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700,800|Righteous&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header class="navigation">
    <nav>
        <a href="/" class='logo'>Artmad</a>
      <ul>
        <li><a href="/galleries/list">Galerías</a></li>
        <li><a href="/artist/list">Artistas</a></li>
        <li><a href="/artworks/list">Obras</a></li>
        <li><a href="/events">Calendario</a></li>
        <li><input type="search" placeholder="Buscar"></li>
        <li><a href="/signup">Sign in</a></li>
        <li><a href="/login">Registry</a></li>
      </ul>
    </nav>
  </header>


  <main class='content'>
    {{{body}}}
  </main>


  <footer class="footer">
    <hr>
    <ul>
      <li>
         <a href="/">© 2019  <span class='footlogo'>Artmad</span></a>
      </li>
      <li> <a href="/about">Sobre Nosotros</a></li>
      <li><a href="/terms">Términos y condiciones</a></li>
      <li><a href="/privacy">Privacidad</a></li>
      <li><a href="/conditions">Condiciones de venta</a></li>
      <li><a href="#"><img src="/images/instagram-logo.jpg" alt="instagram-logo"></a></li>
      <li><a href="#"><img src="/images/twitter-logo.png" alt="twitter-logo"></a></li>
      <li><a href="#"><img src="/images/facebook-logo.png" alt="facebook-logo"></a></li>
    </ul>
  </footer>
</body>
</html>





