<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <header class="navigation">
    <nav>
        <a href="/" class='logo'>
          <img src="#" alt="Artmad-logo">
        </a>
      <ul>
        <li><a href="/artist">Artistas</a></li>
        <li><a href="/obras">Obras</a></li>
        <li><a href="/events">Calendario</a></li>
        <li><input type="search" placeholder="Buscar"></li>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
      </ul>
    </nav>
  </header>


  <main class='content'>
    {{{body}}}
  </main>


  <footer class="footer">
    <hr>
    <ul>
      <li>
        <img src="/" alt="ArtmadLogo">
      </li>
      <li> <a href="/about">Sobre Nosotros</a></li>
      <li><a href="/terms">Términos y condiciones</a></li>
      <li><a href="/privacy">Privacidad</a></li>
      <li><a href="/conditions">Condiciones de venta</a></li>
    </ul>
  </footer>
</body>
</html>





