<h1>estos serán los conteniiiiidooooos</h1>

<form action="arts/{{user._id}}" method="POST" enctype="multipart/form-data">
    <label for="desc">Descripción de la obra</label>
    <input type="text" name="description" id="desc">

    <label for="date">Fecha de creación:</label>
    <input type="text"  name=" dateCreated" id="date">
    
    <label for="art-photo">Subir obras de arte</label>
    <input type="file" name="photo" id="art-photo">
    
    <button type="submit">Subir obra</button>
</form>    

