
<div class="form-container">
<div class="form">

  <form action="/login" method="post">
    <label for="username">Nombre de usuario</label>
    <input type="text" name="username" class="form-control" placeholder="Nombre de usuario">
 
    <label for="password">Contraseña</label>
    <input type="password" name="password" placeholder="********">
 
  <button type="submit">Login</button>
</form>
    
<a href="/">Volver a inicio</a>

</div>

</div>


