{{ message }}
    
<form action="/signup" method="post" enctype="multipart/form-data">
  
    <label for="username">Usuario</label>
    <input type="text" name="username" class="form-control" placeholder="Nombre de usuario">
  
    <select name="roll" id="roll">

      <option value="">Selecciona una opción</option>
      <option value="gallery">Galería</option>
      <option value="artist">Artista</option>
      
    </select> 

    <label for="email">Email</label>
    <input type="text" name="email" class="form-control" placeholder="Dirección de email">
  
    <label for="password">Contraseña</label>
    <input type="password" name="password" class="form-control" placeholder="*********">
  
    <label for="photo">Foto de perfil</label>
    <input type="file" name="photo" class="form-control">
  
  <button type="submit">Signup</button>
</form>
  
<a href="/">Volver a inicio</a>
